<a href="https://colab.research.google.com/github/QuantJackson/11785_hw2p2/blob/main/metrics_process.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
import pandas as pd
drive.mount('/content/drive')
DATA_DIR = "/content/drive/My Drive/DL Proj/data/"

Mounted at /content/drive

In [ ]:
import numpy as np
def classify_rows(df):
    arr = df.values
    increasing = np.all(np.diff(arr, axis=1) > 0, axis=1) & np.all(arr > 0, axis=1)
    decreasing = np.all(np.diff(arr, axis=1) < 0, axis=1) & np.all(arr < 0, axis=1)

    return np.where(increasing, 1, np.where(decreasing, -1, 0))
metrics = pd.read_csv(DATA_DIR + "metrics.csv")
metrics["label"] = classify_rows(metrics[["CAR_1_days","CAR_3_days"]])
transcript = pd.read_parquet("/content/drive/My Drive/DL Proj/data/df_earnings.parquet")
metrics = pd.merge(metrics, transcript[["companyid", "mostimportantdateutc","transcriptid"]], on=["companyid","mostimportantdateutc"], how="left")
metrics.to_csv(DATA_DIR + "metrics.csv",index=False)

In [ ]:
metrics = pd.read_csv(DATA_DIR + "metrics.csv")
metrics["label"].value_counts()

label
 0    20483
-1    10038
 1     9903
Name: count, dtype: int64